.homescreen {
    position: absolute;
    top: 0;
    width: 100%;
}

.homescreen .head {

    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    background-image: url(image01.jpeg);
    /* backdrop-filter: blur(10px); */
    /* opacity: 0.5; */
    /* background: linear-gradient(to right, rgba(11, 15, 25, 0.1) 0%, rgba(11, 15, 25, 0.1) 40%, transparent 100%); */

    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/image01.jpeg") center/cover no-repeat;
}



.head .hero h1 {
    color: white;
    /* background-color: black; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 120px;
    position: absolute;
    left: 120px;
    top: 500px;
}

.head .hero p {
    position: absolute;
    left: 120px;
    top: 633px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* display: flex;
   align-items: center; */
    color: white;
}

.hero .hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 120px;
    top: 733px;

}

.mini-text {
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: #F06292;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-text h2 {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;


}

.section {
    width: 100%;
    padding: 0 10%;
    /* background-color: aqua; */
}

section {
    width: 100%;
    min-height: 70vh;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    position: relative;

    align-items: center;
    /* left: 130px;
    top: 1111px; */
    border: 2px solid white;



}

section .abtus {
    width: 50%;
    height: auto;
    /* margin-left: 60px; */
    /* height: 250px; */
    /* background-color: aqua; */
    margin-left: 60px;
    /* text-align: center; */


}

.p-color {
    color: #E91E63;
}

section .abtus h1 {
    /* width: 509px;
height: 58px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    /* line-height: 58px; */
    letter-spacing: -0.02em;




}

section .abtus p {
    /* width: 509px;
height: 216px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 24px; */
    margin-top: 30px;



}

.Read-more-button {
    margin-top: 60px;
}



section .abtusimg img {
    /* width: 50%; */
    /* position: absolute; */
    width: 700px;
    height: 444px;
    /* right: 0px;
top: 0px; */
    border-top-left-radius: 80px;
    margin-right: 60px;


    /* background-color: rgb(31, 145, 52); */

}

/* section .abtusimg img{
    
    
} */

.elipse {
    position: absolute;
    width: 412px;
    height: 427px;
    left: -135px;
    top: 897px;
    border-radius: 50%;
    background: rgba(51, 51, 51, 0.1);

}





.course-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* left: 0px;
    top: 1855px; */
    /* background-color: blue; */
    padding-top: 50px;


}

.course-section .bckworld-img .shortc-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.course-section .bckworld-img {
    position: relative;
    width: 100%;
    /* height: 744px; */
    /* left: 130px;
    top: 109px; */
    /* background: rgba(10, 10, 10, 0.6); */
    background: linear-gradient(rgba(222, 217, 217, 0.461), rgba(113, 108, 108, 0.98)), url('../../assets/earth2.jpeg') center/cover no-repeat;

    /* background: url(earth.jpeg); */
    background-size: cover;
    background-position: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 10px;

}


.short-courses {
    display: flex;

    flex-direction: column;
    align-items: center;
    /* padding: 0px; */
    gap: 15px;

    width: 355px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.short-courses:hover {
    color: #FFFFFF;
    background: rgba(10, 10, 10, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;


}



.course-section h1 {
    /* position: absolute; */
    /* width: 469px;
    height: 58px; */
    /* left: calc(50% - 469px/2 - 382.5px);
top: 3px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    /* line-height: 58px; */
    letter-spacing: -0.02em;
    color: #000000;
    /* margin-left: 140px; */
    padding: 30px 0;
}

.short-courses h3 {
    width: 100%;
    height: 29px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* line-height: 29px; */
    /* identical to box height */
    /* display: flex;
align-items: center; */
    text-align: center;
    margin-left: 12px;
    margin-top: 10px;

}


.short-courses p {
    width: 100%;
    height: 48px;
    margin-left: 10px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    /* display: flex; */
    /* align-items: center; */
    text-align: center;

    /* color: #000000;
flex: none;
order: 2;
flex-grow: 0; */
    margin-top: 15px;


}

.short-courses #book {
    margin-left: 110px;
    padding: 13px 48px;
    margin-top: 15px;


}

.course-section img {
    width: 355px;
    height: 220px;

    border-radius: 10px;


    /* flex: none;
order: 0;
flex-grow: 0; */

}

.bckworld-img .short-menthorship {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: absolute; */
    margin-top: 80px;
    width: 98%;
    margin-left: 15px;

    height: 260px;
    /* left: 113px;
top: 568px; */
    background: rgba(10, 10, 10, 0.6);

}

.short-menthorship h2 {
    /* position: absolute; */
    width: 711px;
    height: 96px;
    /* left: 60px;
top: 85px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;

    /* Neutral */
    color: #FFFFFF;

}


.short-menthorship #book {
    padding: 13px 58px;

}


.higlight-Training-section {
    width: 100%;
    /* min-height: 135vh; */
    /* background-color: rgb(198, 145, 145); */
    position: relative;
    /* width: 1240px;
height: 1147px; */
    /* left: 130px;
    top: 2800px; */

    /* background: #FFFFFF; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* padding-top: 50px; */
    margin-top: 100px;

}

.higlight-Training-section .hl h1 {
    /* position: absolute; */
    /* width: 469px;
    height: 58px;
    left: 2px;
    top: 13px; */
    /* background-color: red; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    /* line-height: 120%; */
    color: #000000;
    /* margin-left: 10px; */

}

.hl .box-iems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.hl .box-iems .box {
    /* position: absolute; */
    width: 390px;
    height: 410px;
    /* left: 0px;
top: 0px; */
    background-color: #FFFFFF(158, 130, 130);
    margin-top: 100px;
    border: 2px solid #E91E63;
    border-radius: 15px;

}

.box img {
    /* position: absolute; */
    width: 385px;
    height: 219px;
    /* left: 0px;
top: 0px; */
    /* margin-top: 2px; */

    /* background: url(images (34).jpg); */
    border-radius: 10px 10px 50px 5px;
}

.box h3 {
    /* position: absolute; */
    width: 348px;
    height: 31px;
    /* left: 8px;
top: 256px; */
    margin-top: 30px;
    margin-left: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;

    /* color: #000000; */
}

.box p {
    /* position: absolute; */
    width: 300px;
    height: 48px;
    /* left: 8px;
top: 336px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;

    /* color: #000000; */
}

.tr {
    margin-top: 100px;
    margin-bottom: 60px;
    padding: 20px;
}

.higlight-Training-section .tr h1 {
    /* position: absolute; */
    /* width: 469px;
    height: 58px; */
    /* left: 2px;
    top: 653px; */
    /* background-color: red; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    /* line-height: 120%; */
    color: #000000;
    /* margin-left: 10px; */
    margin-bottom: -58px;
}

.higlight-Training-section .tr .training-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 130px; */
}


.training-box {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.training-box .line-1 {

    /* position: absolute; */
    width: 3px;
    height: 110.02px;
    /* left: 268px;
top: 820.98px; */
    background-color: #F06292;
}

.main-training {
    width: 228px;
    height: 175px;
    /* background-color: aqua; */
    /* display: block;
    justify-content: space-between;
    align-items: center;
    gap: 20; */
}

.main-training img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-self: center;
    align-self: center;
}

.main-training h3 {
    width: 228px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    margin-top: 20px;

    /* color: #000000; */
}

.main-training p {
    width: 228px;
    height: 48px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;

    /* color: #000000; */

}

#move1 {
    margin-top: 100px;
}

#move2 {
    margin-top: 150px;
}

#move3 {
    margin-top: 300px;
}

#move4 {
    margin-top: 350px;
}

.training-img-box img {
    width: auto;
    height: 460px;

}

.viewall-button {

    margin-top: -50px;
}




.upcoming-event-section {
    width: 100%;
    min-height: 70vh;
    /* background-color: rgb(198, 145, 145); */
    position: relative;
    /* width: 1240px;
height: 559px; */
    /* left: 130px;
    top: 4130px; */


    /* background: #FFFFFF; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.event-text {
    width: 37%;
    padding: 20px;

    /* background-color: aqua; */
}

.upcoming-event-section .event-text h1 {
    /* position: absolute;
    width: 469px;
    height: 58px;
    left: 30px;
    top: 41px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    /* line-height: 58px; */

    /* letter-spacing: -0.02em; */
    margin-bottom: 84px;

}

.upcoming-event-section .event-text h1 span {
    color: #E91E63;
}

.upcoming-event-section .event-text h1+p {
    /* position: absolute;
    width: 379px;
    height: 72px;
    left: 30px;
    top: 173px; */



    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.dotted-text {
    margin-top: 64px;
    /* margin-left: 30px;
    width: 379px;
    height: 24px; */



    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #000000;

}


.dotted-text-content {
    width: 508px;
    height: 24;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
    /* margin-left: 30px; */
    /* background-color: aqua; */
}

#down {
    /* margin-top: 50px; */
    position: relative;
    top: 80px;

}

.dotted-text-content:hover {
    color: #F06292;
    font-size: 18px;

}

#down a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#down a:hover {
    text-decoration: underline;
}




/* .events-link:hover {
  text-decoration: underline; 
} */


.event-img {

    width: 63%;
    display: flex;
    justify-content: right;

    /* background-color: aquamarine; */

    border-radius: 10px;

}

.event-img img {
    width: auto;
    height: 586px;
}

.breadcrumb {
    padding-top: 120px;
}






/* Container for the testimonial section */
.home-testimonial-section {
    text-align: center;
    padding: 60px 20px;
    background: #EDEDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 100%;




    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-top: 100px;
}

/* Title styling */
.home-testimonial-section h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */

    color: #000000;
}

.home-testimonial-section h1 span {
    color: #E91E63;
    /* Or your brand color */
}

/* Container for the first two testimonials */
.two-testimonial-boxes {
    display: flex;
    justify-content: space-around;
    /* gap: 30px; */
    flex-wrap: wrap;
    margin-bottom: 40px;
}

/* Individual testimonial card */
.main-testimonial-content {

    padding: 25px;
    border-radius: 15px;
    width: 300px;
    /* Adjust as needed */
    text-align: center;
    position: relative;
    margin-top: 50px;
    width: 473px;
    height: 339px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
}

/* Testimonial image */
.main-testimonial-content img {
    width: 240px;
  height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

/* Optional decorative circle or highlight */
.testmonial-eclipse {
    /* width: 50px;
    height: 50px;
    background-color: #007BFF;
    
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.2; */

    position: absolute;
width: 120px;
height: 120px;
left: 167px;
top: 81px;

background: rgba(240, 98, 146, 0.3);
border-radius: 50%;


}

/* Testimonial text */
.main-testimonial-content p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;

color: #000000;
position: absolute;
width: 321px;
height: 48px;
left: 73px;
top: 206px;

}

/* Name of the person */
.main-testimonial-content h3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #000000;
position: absolute;
width: 268px;
height: 30px;
left: 107px;
top: 254px;
}

/* Title of the person */
.main-testimonial-content p:last-child {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #000000;
position: absolute;
width: 268px;
height: 24px;
left: 103px;
top: 283px;
}

/* Styling for the single testimonial (last one) if needed */
.home-testimonial-section>.main-testimonial-content {
    margin: 0 auto;
    margin-top: 30px;
}