.primary {
    background-color: #E91E63;
    color: white;
    padding: 13px 48px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    min-width: 200px;

}

.primary:hover {
    background-color: #F06292;
    color: rgba(10, 10, 10, 0.6);
    
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;

    
} 
.small-button{
     min-width: auto!important;
}

.md-button{
     min-width: 300px!important;
}

.secondary {
    padding: 13px 48px;
    background: transparent;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: 2px solid white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    min-width: 200px;
}

.secondary:hover{
    background: #0e0d0d;
    color: white;
    border:none;
}
