* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The GLOBAL CSS - Required for the Flexbox Sticky Footer pattern i attached*/

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: transparent;
}

.main-content-wrapper {
    flex-grow: 1;
    position: relative;
    animation: softFadeIn 0.8s ease-in-out;
}


nav {
    margin-top: 0 !important;
    top: 0;
}

@keyframes softFadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




